<a href="https://colab.research.google.com/github/rathod-priyanka/python_codes/blob/main/define_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name='washington'

for i in name:
  if i=='t':
    continue
  print(i,end=" ")

w a s h i n g o n

In [ ]:
for i in range(1,11):
  if i==3 or i==6:
   continue
  print(i,end=" ")

1 2 4 5 7 8 9 10

In [ ]:
#define Fubction and calling function

def add(a,b):
  c=a+b
  print(c)

In [ ]:
add(15,13)

28

In [ ]:
def num(len,bread):
  area=len+bread
  perimeter=2*(len+bread)
  print(area,perimeter)

In [ ]:
num(5,6)

11 22

In [ ]:
def compute(a,b):
  g=a+b
  c=a-b
  e=a*b
  f=a/b
  print(g,c,e,f)

In [ ]:
compute(2,4)

6 -2 8 0.5

In [ ]:
def info(name,age):
  print(age)

In [ ]:
info('rama',24)

24

In [ ]:
def info(name,salary):
  print("your salary is",salary)

In [ ]:
info("rama",15000)

your salary is 15000

In [ ]:
def radius(r):
  area=3.14*r**2
  circumference=2*3.14*r
  print(area,circumference)

In [ ]:
radius(4)

50.24 25.12

In [ ]:
# adds all the elememt in same group

def sum_add(numbers):
  sum=0
  for i in numbers:
    sum=sum+i
  print(sum)

In [ ]:
sum_add((2,3,4,5))

14